
body,
html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.footer_subscribe_wrapper {
    height: 250px;
    background-image: url(../src/img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Open Sans', sans-serif;
}

.footer_subscribe_section {
    max-width: 1170px;
    margin: auto;
}

.title_footer {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 300;
    padding: 75px 0 30px 0;
    margin: 0;
}

#subscribe_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email_area {
    width: 770px;
    height: 50px;
    border: 1px solid #fff;
    display: flex;

    &:first-child div {
        width: 70px;
        display: flex;
        justify-content: center;
    }
}

#email_input {
    width: 700px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10px 0;
    margin: 0;
    line-height: 1;

    &::placeholder {
        text-transform: uppercase;
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        font-weight: 300;
    }
}

#footer_btn_subscribe {
    background: transparent;
    background-color: #ffffff;
    border: none;
    width: 270px;
    height: 50px;
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;

    &:hover {
        cursor: pointer;
    }
}

.error_subscribe {
    font-style: italic;
    background-color: transparent;
    border: none;
    color: red;
    font-family: 'Open Sans', sans-serif;
    padding: 5px 10px 0;
    margin: 0;
    line-height: 1;
    font-size: 13px;
}


.social_footer_wrapper {
    max-width: 1170px;
    margin: auto;
}

.social_footer {
    height: 170px;
    font-family: 'Lato', sans-serif;
    color: rgba(51, 51, 51, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
    }
}

.heart {
    color: #de1111;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

.link_footer {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: rgba(51, 51, 51, 0.6);
    font-size: 18px;

    &:hover {
        text-decoration: underline;
    }
}


.prodH:before{
    content: "";
    position: absolute;
    width: 111px;
    height: 3px;
    background-color: #dc0000;
    top: 0;
    left: 45%;
}
.prodH:after{
    content: "";
    position: absolute;
    width: 111px;
    height: 3px;
    background-color: #dc0000;
    bottom: 0;
    left: 45%;
}
.pAftBef:before{
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    background-color: white;
    top: 0;
    left: 33%;
}
.pAftBef:after{
    content: "";
    position: absolute;
    width: 190px;
    height: 1px;
    background-color: white;
    bottom: 0;
    left: 33%;
}
  .countdown-title {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
  }
   
  .countdown {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
  }
   
  .countdown-number {
    padding: 10px;
    border-radius: 3px;
    background: #00bf96;
    display: inline-block;
  }
   
  .countdown-time {
    padding: 15px;
    border-radius: 3px;
    background: #00816a;
    display: inline-block;
  }
   
  .countdown-text {
    display: block;
    padding-top: 5px;
    font-size: 16px;
  }
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.header {
  background: url("../assets/img/background.png");
  background-repeat: no-repeat;
  object-fit: cover;
  margin: auto;
}

.container {
  width: 1180px;
  margin: auto;
}

.divLogoMenu p {
  color: #cb1c1d;
  font-weight: bold;
  font-size: 48px;
}

.divLogoMenu span {
  font-size: 36px;
  font-weight: normal;
}

.divLogoMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  list-style: none;
}

nav li {
  margin-left: 70px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.contentText {
  text-align: center;
  margin-top: 160px;
}

.springSummerParag {
  letter-spacing: 15px;
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}

.discountParag {
  font-size: 56px;
  font-weight: 800;
  color: white;
  margin: 50px 0;
}

.itemsTreding {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
}

.btnShopNow {
  font-size: 18px;
  color: white;
  background: none;
  border: 1px solid white;
  padding: 22px 48px;
  cursor: pointer;
  margin-top: 55px;
  font-weight: 600;
}

.fa-circle {
  color: white;
  margin: 0 11px;
  cursor: pointer;
}

.divCircle {
  padding: 140px 0 90px 0;
  text-align: center;
}

.timer {
  display: none;
}

*,
::before,
::after {
  box-sizing: border-box;
}
.blogPage {
  padding: 60px 0;
}
.blogPage .container {
  width: 1140px;
  margin: auto;
}
.blogPage h2 {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 40px;
  line-height: 1;
  text-transform: capitalize;
  color: #333333;
  text-align: center;
}
.blogPage h2::before {
  content: '';
  position: absolute;
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.blogPage h2::after {
  content: '';
  position: absolute;
  width: 113px;
  height: 3px;
  background-color: #dc0000;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.blogPage .multiple-items {
  margin-top: 95px;
}
.blogPage .slide-item {
  margin-right: 15px;
  margin-left: 15px;
}
.blogPage .slide-item img {
  width: 100%;
}
.blogPage h3 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #dc0000;
}
.blogPage .byWho {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #333333;
  margin-bottom: 30px;
}
.blogPage .byWho span {
  margin: 0 5px;
}
.blogPage .miniDescription {
  padding: 30px 0;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
}
.blogPage .miniDescription p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #333333;
}
.blogPage .readMore {
  margin-top: 30px;
  width: 170px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 0;
  Font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
  text-transform: uppercase;
  transition: all .15s ease-in;
  cursor: pointer;
}
.blogPage .readMore:hover {
  background-color: #dc0000;
  color: white;
}
.blogPage .slick-custom-arrow {
  position: absolute;
  top: 30%;
  cursor: pointer;
}
.blogPage .slick-custom-arrow-right {
  right: -8%;
}
.blogPage .slick-custom-arrow-left {
  left: -8%;
}